<%= form_for @user do |f| %>

  <% flash.each do |key,value|  %>
    <div class="<%= key %>" > <%= value %> </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :handle %>
  <%= f.text_field :handle %>

  <%= f.label :profile_image_url %>
  <%= f.text_field :profile_image_url %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Signup" %>

<% end %>
