<% provide(:title, 'Profile') %>

<div class="row">
  <!-- USER PROFILE INFO- SIDE BAR -->
  <aside class="col-md-4">

    <section class="user_info">
      <%= image_tag @user.profile_image_url, id: 'profile-image', style: 'max-width: 300px; max-height: 400px' %>
        <h2><%= @user.handle %></h2>
        <h3><%= @user.name %></h3>
        <h5><%= @user.email %></h5>
        <p><%= @user.bio %></p>
    </section>

    <section class="user_events">
      <h5>Check out these events!</h5>
        <% @user.events.each do |event| %>
          <li><%= link_to event.name, event_path(event) %></li>
        <% end %>
    </section>

  </aside>

<!-- MAIN PART OF USER PROFILE PAGE -->
  <div class="col-md-8">
    <% if @user == current_user %>
      <div class="row">
        <div class="post_form">
          <%= render 'layouts/post_form' %>
        </div>
      </div>
    <% end %>

    <div class="row">
    <% if @user.posts.any? %>
      <h3>my posts (<%= @user.posts.count %>)</h3>
        <!-- <ol class="col-sm-6"> -->
            <% @user.posts.each do |post| %>
              <div class="col-xs-6 col-md-6">
                <strong><%= post.title %></strong>
                <%= image_tag post.image_url, :class => "image-post" %>
                <br />
                <%= post.body %>

                <div class="tags">
                  <p>Tags: <%=raw tag_links(post.all_tags) %></p>
                </div>

                <div class="create_date">
                  <%= post.created_at.strftime("%d %b. %Y") %>

                  <% if @user == current_user %>
                    <%= link_to "delete", post, method: :delete, data: { confirm: "Are you sure?" } %>
                  <% end %>
                </div>
              </div>


            <% end %>
        <!-- </ol> -->

    <% end %>
    </div>

  </div>
</div>
