<% provide(:title, 'Profile') %>

<div class="row">
  <aside class="col-md-4">

    <section class="user_info">
      <%= image_tag @user.profile_image_url, id: 'profile-image', style: 'max-width: 300px; height: auto' %>
        <h2><%= @user.handle %></h2>
        <h3><%= @user.name %></h3>
        <h5><%= @user.email %></h5>
        <p><%= @user.bio %></p>
    </section>

    <section class="user_events">
      <h5>Check out these events!</h5>
        <% @user.events.each do |event| %>
          <li><%= link_to event.name, event_path(event) %></li>
        <% end %>
    </section>

  </aside>

  <div class="col-md-8">
    <% if @user == current_user %>
      <div class="row">
        <div class="post_form">
          <%= render 'shared/post_form' %>
        </div>
      </div>
    <% end %>


    <% if @user.posts.any? %>
      <h3>my posts (<%= @user.posts.count %>)</h3>
        <ol class="posts">
            <% @user.posts.each do |post| %>
              <div>
                <strong><%= post.title %></strong>
                <%= image_tag post.image_url %>
                <br />
                <%= post.body %>

                <div class="tags">
                  <p>Tags: <%=raw tag_links(post.all_tags) %></p>
                </div>

                <div class="create_date">
                  <%= post.created_at.strftime("%d %b. %Y") %>

                  <% if @user == current_user %>
                    <%= link_to "delete", post, method: :delete, data: { confirm: "Are you sure?" } %>
                  <% end %>
                </div>
              </div>


            <% end %>
        </ol>

    <% end %>

  </div>
</div>


