<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "Title of Post" %>
    <%= f.text_area :body, placeholder: "Create a new post..." %>
    <%= f.text_area :image_url, placeholder: "Link an image..." %>
    <%= f.text_area :all_tags, placeholder: "Tags separated by commas" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
