<% provide(:title, 'Flow Events') %>

<h1>Flow Events</h1>
<p> Here are a list of all classes, workshops, spin jams, or festivals posted by your flow community! </p>

<%= will_paginate %>

<table class="table">
    <tr>
      <th class="col-md-2">Date</th>
      <th class="col-md-4">Event</th>
      <th class="col-md-3">Type</th>
      <th class="col-md-2">City</th>
      <th class="col-md-1">State</th>
    </tr>

  <% @events.each do |event| %>

    <tr>
      <td><%= event.event_date %></td>
      <td><%= link_to event.name, event %></td>
      <td><%= event.event_type %></td>
      <td><%= event.city %></td>
      <td><%= event.state %></td>
    </tr>
  <% end %>

</table>


<%= will_paginate %>
