<% provide(:title, 'Event') %>

<h1><%= @event.name %></h1>

<h3><%= @event.description %></h3>

<div class="event-row">
  <div class="col-md-4 col-md-offset-4">

    <p>What: <%= @event.event_type %></p>
    <p>When: <%= @event.event_date %> <%= @event.event_time %></p>
    <p>Where: <%= @event.street %> <%= @event.city %> <%= @event.state %> <%= @event.zip_code %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-2">
    <h4>Contact Event Host:</h4>
      <%= @event.user.name %>
      <br />
      <%= @event.user.email %>
  </div>
</div>
